/******************** Global *****************************/


:root{
    --primary-white: #fff;
    --primary-red: red;
    --primary-orange: #f9ab00;
    --primary-dark: rgba(255,255,255,0);
}

body{
    font-family: 'Trirong', serif !important;
}

/********************* Navbar ***************************/
.logo{
    width: 10.25rem;
    margin-top: 0.938rem;
}

/******************** Navbar Menu Links ********************************/
nav a.nav-link{
   
    letter-spacing: 0.0375rem;
    cursor: pointer;
}
nav ul li {
    text-transform: uppercase;
}
.navbar-nav >li > a{
    margin-right: 0.75rem;
    margin-left: 00.75rem;
    color:var(--primary-white) !important;
    border-top: 0.1785rem solid var(--primary-dark);
}
.navbar-brand{
    max-width: 12.75rem;
    padding: 0 !important;
    height: 6rem !important;
}
.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
    border-top: 0.1785rem solid var(--primary-red) ;
}
.navbar-nav > li > a:hover{
    border-top: 0.1785rem solid var(--primary-red) ;
}